body {
    padding: 70px;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #f1f1f1;
}

.top {
    margin-left: 38%;
}

.logo {
    width: 120px;
    margin-left: 12%;
    margin-bottom: 2%;
}

.icon {
    width: 25px;
    margin-bottom: -1%;
}

span {
    font-size: 19px;
    color: gray;
    margin-right: 5px;
}

.signup-form {
    background-color: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    margin: auto;
    overflow: visible;
    padding: 30px;
    box-sizing: border-box;
    width: 350px;
    text-align: center;
}

.signup-form span {
    color: black;
    font-weight: 400;
    font-size: 25px;
}

p {
    font-size: 14px;
    color: gray;
}

form {
    text-align: left;
}

form input {
    width: 280px;
    min-width: 160px;
    padding-left: 8px;
    padding-right: 6px;
    border: 1px solid #C1C5C8;
    height: 30px;
    margin-top: 10px;
}

form label {
    font-size: 14px;
}

.call {
    color: black;
    font-size: 10px;
}

form button {
    background-color: #0077C5;
    color: white;
    border: #0077C5;
    border-radius: 4px;
    width: 297px;
    height: 33px;
    font-size: 16px;
}

.btn-lock {
    width: 15px;
}

.policy {
    font-size: 13px;
}